body {
  margin: 0;
  font-family: 'Lato',"Helvetica Neue",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  padding-left: 1rem;
}

a.btn-primary, a.btn-primary.active {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
a.btn-primary.focus, a.btn-primary:focus, a.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}
.dl-table td {
  padding-left: 20px;
}

.btn-group-ac-style button {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-group-ac-style button.active {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;

  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}

.btn-group-ac-style button:focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}

.btn-group-ac-style button:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-group-ac-style button.active:focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
