.react-bootstrap-table table.table-standings {
    /* テーブル全体設定 */
    table-layout: auto;
    font-size: 14px;
    
    &.table-striped tbody tr:nth-of-type(odd) {
        background-color: #f9f9f9;
    }

    /* セル全体設定 */
    td, th {
        padding: 8px;
    }
    
    &.th-center thead th {
        text-align: center;
    }
    &.th-middle thead th {
        vertical-align: middle;
    }
    &.td-center td{
        text-align: center;
    }
    &.td-middle td {
        vertical-align: middle;
    }

    /* ヘッダ */
    thead {
        .standings-rank-head {
            width: 80px;
        }
        .standings-username-head {
            min-width: 140px;
        }
        .standings-username-head label.filter-label {
            &, & .form-control {
                font-size: 14px;
                margin-bottom: 0;
            }
        }
        .standings-rating-head {
            min-width: 60px;
        }
    }

    /* セル個別設定 */
    tbody {
        td {
            box-shadow: none;
            &.standings-username {
                text-align: left;
                a.username {
                    text-decoration: none;
                    & > span {
                        font-weight: bold;
                    }
                }
                .ranking-user-btn {
                    margin-left: 0.2rem;
                    visibility: hidden;
                    a {
                        color: black;
                    }
                }
                &:hover .ranking-user-btn {
                    visibility: visible;
                }
            }
            &.standings-rating {
                padding: 0 !important;
                font-weight: bold;
            }
        }
    }
}
